.header{
    text-align: center;
}

.navbar-fidosearch{
    background-color: #EB6864 ;
    
}

.logo-text{
    color: white;
    font-size: 25px;
}

.back-text{
    color: white;
    font-size: 15px
}