.header{
    text-align: center;
}

.navbar-fidosearch{
    background-color: #EB6864 ;
    
}

.logo-text{
    color: white;
    font-size: 25px;
}

.back-text{
    color: white;
    font-size: 15px
}

#fido-search{
    color: white;
    font-family: 'Monoton', cursive;
    font-weight: 500;
    color: white;
}

#back-to-users{
    color: white
}

#fido-search span {
    color: black;
    font-weight: 600;
}

#h3 {
    color: white;
    font-weight: 500;
}

.city-input{
    border-radius: 8px;
    margin-bottom: 0px;
}