.first {
    text-align: center;
    background-size: cover;
    height: 600px;
    background-image: url(https://images.pexels.com/photos/412465/pexels-photo-412465.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    /* padding-top: 150px; */
}
#william {
  background-image: url(/client/src/components/MainPage/img/icon1.png);
}

.main-page {
  width: 100%;
  height: auto;
  background-size: 100% 100%;
}

#contact {
    box-shadow: -1em 0 .4em rgb(32, 32, 31);
    background: linear-gradient(to right, #2BC0E4, #EAECC6 );
}

.teammates {
    text-align: center;
    background:linear-gradient( to left,#FFEFBA, #FFFFFF );
    box-shadow: -1em 0 .4em rgb(32, 32, 31);
    padding: 20px;
}

#Alex {
    background-image: url(https://ca.slack-edge.com/T0115C5L068-U011QTMN37X-c9ebc553b4a5-512);
    background-size: cover;
}

#features {
    /* background-image: url(https://images.pexels.com/photos/2457284/pexels-photo-2457284.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover; */
    padding: 40px;
    background: linear-gradient(to right, #2BC0E4, #EAECC6 );
    height: 100%;
    box-shadow: -1em 0 .4em rgb(32, 32, 31);
}


#start {
    background-color:#199EB8 ;
}

#chat-box {
    background-image: url(https://images.pexels.com/photos/1310532/pexels-photo-1310532.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-size: cover;
    height: 200px;
    margin: 10px;
    text-align: center;
}

#layout {
    background-image: url(https://images.pexels.com/photos/2764675/pexels-photo-2764675.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    height: 200px;
    margin: 10px;
}

#idea {
    background-image: url(https://images.pexels.com/photos/577514/pexels-photo-577514.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-size: cover;
    height: 200px;
    margin: 10px;
}

#header {
    background: #199EB8;
    height: 70px;
  }
  
  #header #logo {
    margin: 14px 25px 0 0;
  }
  
  #header #logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 2px 0;
    line-height: 1;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #header #logo h1 a,
  #header #logo h1 a:hover {
    color: #fff;
  }
  
  #header #logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  @media (max-width: 768px) {
    #header {
      height: 50px;
    }
    #header #logo {
      margin: 10px 0 0 0;
    }
    #header #logo h1 {
      padding: 2px 0;
      font-size: 26px;
    }
    #header #logo img {
      max-height: 30px;
    }
  }
  
  #header .social-nav {
    margin-top: 15px;
  }
  
  #header .social-nav a {
    font-size: 24px;
    margin-left: 15px;
    color: #fff;
  }
  
  #header .social-nav a:hover {
    color: rgba(255, 255, 255, 0.75);
  }

  /* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  margin: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 22px 15px 18px 15px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  outline: none;
}

.nav-menu a:hover,
.nav-menu li:hover > a,
.nav-menu .menu-active > a {
  color: rgba(255, 255, 255, 0.75);
}

.nav-menu ul {
  margin: 4px 0 0 15px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
  background: #fff;
  border-top: 1px solid #f4f4f4;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li:hover {
  background: #199EB8;
  transition: 0.3s;
}

.nav-menu ul li a {
  color: #333;
  transition: none;
  padding: 10px 15px;
}

.nav-menu ul li a:hover {
  color: #fff;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 8px 10px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
  }
  
  #mobile-nav-toggle i {
    color: #fff;
  }
  
  @media (max-width: 768px) {
    #mobile-nav-toggle {
      display: inline;
    }
  }
  
  /* Mobile Nav Styling */
  #mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.9);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
  }
  
  #mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  #mobile-nav ul li {
    position: relative;
  }
  
  #mobile-nav ul li a {
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
  }
  
  #mobile-nav ul li a:hover {
    color: #fff;
  }
  
  #mobile-nav ul li li {
    padding-left: 30px;
  }
  
  #mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
  }
  
  #mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #199EB8;
  }
  
  #mobile-nav ul .menu-item-active {
    color: #199EB8;
  }
  
  #mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    display: none;
  }
  
  /* Mobile Nav body classes */
  body.mobile-nav-active {
    overflow: hidden;
  }
  
  body.mobile-nav-active #mobile-nav {
    left: 0;
  }
  
  body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
  }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  .hero {
    display: table;
    position: relative;
    /* background-image: url(../img/cover.jpg); */
    background-size: cover;
    padding: 150px 0;
    color: #fff;
    width: 100%;
    height: 100vh;
  }
  
  .hero:after {
    content: '';
    z-index: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  
  .hero .container {
    position: relative;
    z-index: 1;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  
  .hero-brand {
    margin-bottom: 75px;
    display: inline-block;
  }
  
  .hero-brand:hover {
    opacity: .75;
  }
  
  .tagline {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 26px;
    margin: 45px 0 75px 0;
    color: crimson;
  }


  /* About section ============================================ */
  .about {
      height: 250px;
      /* padding: 55px 25px 0 25px; */
      padding-top: 20px;
      background:linear-gradient( to left,#FFEFBA, #FFFFFF );
      background-size: cover;
      box-shadow: -1em 0 .4em rgb(32, 32, 31);
      text-align: center;
  }




/* ==================================================
  Welcome Styling
  ================================================== */

  .welcome {
    color: #fff;
    height: 490px;
    overflow: hidden;
    padding-top: 85px;
    /* background: url("../img/parallax-bg.jpg") center top no-repeat; */
  }
  
  .welcome h2 {
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  
  .welcome p {
    color: #fff;
    margin-bottom: 45px;
  }